body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(230, 196, 135)
}

div {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 100px;
}

.banner {
    height: 400px;
    display: block;
    margin: 0 auto;
}

